<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.projet.mapper.BinomeMapper">

    <insert id="insertBinome">
        INSERT INTO binomes(id_projet, date_reelle_remise, id_etudiant1,id_etudiant2)
        VALUES (#{idProjet}, #{dateReelleRemise}, #{etudiant1.idEtudiant}, #{etudiant2.idEtudiant})
    </insert>
    <delete id="deleteBinome">
        DELETE FROM binomes WHERE id_binome = #{idBinome} AND id_projet = #{idProjet}
    </delete>

    <update id="updateBinome">
        UPDATE binomes
        <set>
            <if test="etudiant1.idEtudiant != null">id_etudiant1 = #{etudiant1.idEtudiant}</if>
            <if test="etudiant2.idEtudiant != null">id_etudiant2 = #{etudiant2.idEtudiant}</if>
            <if test="dateRelleRemise != null">date_reelle_remise = #{dateReelleRemise}</if>
        </set>
        WHERE id_binome = #{idBinome}
        AND id_projet = #{idProjet}
    </update>

    <select id="selectBinome" resultType="binome">
        SELECT b.id_etudiant1, b.id_etudiant2, b.date_reelle_remise
        FROM binomes b
        <where>
            <if test="etudiant1.idEtudiant != null">
                b.id_etudiant1 = #{etudiant1.idEtudiant}
            </if>

            <if test="etudiant2.idEtudiant != null">
                AND b.id_etudiant2 = #{etudiant2.idEtudiant}
            </if>

            <if test="dateRelleRemise != null">
                AND e.date_relle_remise = #{dateRelleRemise}
            </if>
        </where>
    </select>

</mapper>