<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projet.mapper.EtudiantMapper">

    <resultMap id="etudiantResultMap" type="Etudiant">
        <!--
            id : clé primaire
            result : normal
                column : nom de table bdd
                property : nom d'attribut de java
        -->
        <id column="id_etudiant" property="idEtudiant"/>
        <result column="nom_etudiant" property="nomEtudiant"/>
        <result column="prenom_etudiant" property="prenomEtudiant"/>
        <result column="id_formation" property="idFormation"/>
    </resultMap>

    <select id="selectAll" resultMap="etudiantResultMap">
        select *
        from etudiants
        <where>
            <if test="nomEtudiant != null and nomEtudiant != ''">
                nom_etudiant = #{nomEtudiant}
            </if>

            <if test="prenomEtudiant != null and prenomEtudiant != ''">
                AND prenom_etudiant = #{prenomEtudiant}
            </if>

            <if test="idFormation != null">
                AND id_formation = #{idFormation}
            </if>
        </where>
    </select>
    <select id="selectById" resultMap="etudiantResultMap">
    <!--
        #{}
        ${} Injection Sql -> n'utilise pas
    -->
        select *
        from etudiants
        where id_etudiant = #{idEtudiant};
    </select>
    <!--Requêtes conditionnelles dynamiques-->
    <select id="selectByCondition" resultMap="etudiantResultMap">
        select *
        from etudiants
        <where>
            <if test="idEtudiant != null">
                id_etudiant = #{idEtudiant}
            </if>
            <if test="nomEtudiant != null">
                and nom_etudiant like #{nomEtudiant}
            </if>
            <if test="prenomEtudiant != null and prenomEtudiant != '' ">
                and prenom_etudiant like #{prenomEtudiant}
            </if>
            <if test="idFormation != null">
                and id_formation = #{idFormation}
            </if>
        </where>
    </select>


</mapper>