<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projet.mapper.EtudiantMapper">

    <resultMap id="etudiantResultMap" type="Etudiant">
        <!--
            id : clé primaire
            result : normal
                column : nom de table bdd
                property : nom d'attribut de java
        -->
        <id column="id_etudiant" property="idEtudiant"/>
        <result column="nom_etudiant" property="nomEtudiant"/>
        <result column="prenom_etudiant" property="prenomEtudiant"/>
        <association property="formation" javaType="formation">
            <id column="id_formation" property="idFormation"/>
            <result column="nom_formation" property="nomFormation"/>
            <result column="promotion" property="promotion"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="etudiantResultMap" resultType="etudiant">
        select e.id_etudiant, e.nom_etudiant, e.prenom_etudiant, f.id_formation, f.nom_formation, f.promotion
        from etudiants e, formations f
        where e.id_formation = f.id_formation
    </select>


    <!--Requêtes conditionnelles dynamiques-->
    <select id="selectByCondition" resultType="etudiant" resultMap="etudiantResultMap">
        select e.id_etudiant, e.nom_etudiant, e.prenom_etudiant, f.id_formation, f.nom_formation, f.promotion
        from etudiants e, formations f
        where e.id_formation = f.id_formation

        <if test="nomEtudiant != null and nomEtudiant != ''">
            and lower(e.nom_etudiant) = lower(#{nomEtudiant})
        </if>
        <if test="prenomEtudiant != null and prenomEtudiant != ''">
            and lower(e.prenom_etudiant) = lower(#{prenomEtudiant})
        </if>
        <if test="formation != null and formation.nomFormation != null and formation.nomFormation != ''">
            and lower(f.nom_formation) = lower(#{formation.nomFormation})
        </if>

    </select>

    <select id="selectById" resultType="com.projet.entity.Etudiant" resultMap="etudiantResultMap">
        select e.id_etudiant, e.nom_etudiant, e.prenom_etudiant, f.id_formation, f.nom_formation, f.promotion
        from etudiants e, formations f
        where e.id_formation = f.id_formation and e.id_etudiant = #{idEtudiant}
    </select>

    <insert id="addEtudiant" useGeneratedKeys="true" keyProperty="idEtudiant">
        insert into etudiants (nom_etudiant, prenom_etudiant, id_formation)
        values (#{nomEtudiant}, #{prenomEtudiant}, #{formation.idFormation});
    </insert>

    <update id="updateEtudiant">
        update etudiants
        <set>
            <if test="nomEtudiant != null and nomEtudiant != ''">
                nom_etudiant = #{nomEtudiant},
            </if>
            <if test="prenomEtudiant != null and prenomEtudiant != ''">
                prenom_etudiant = #{prenomEtudiant},
            </if>
            <if test="formation != null">
                id_formation = #{formation.idFormation}
            </if>
        </set>
        where id_etudiant = #{idEtudiant};
    </update>

    <delete id="deleteById">
        delete from etudiants
        where id_etudiant = #{idEtudiant};
    </delete>


</mapper>