<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.projet.mapper.NoteMapper">

    <insert id="insertNote">
        INSERT INTO notes(id_projet, id_binome, id_etudiant,note_rapport,note_soutenance) VALUES (#{idProjet}, #{idBinome}, #{idEtudiant}, #{noteRapport}, #{noteSoutenance})
    </insert>

    <delete id="deleteNote">
        DELETE FROM notes WHERE id_etudiant = #{idEtudiant} AND id_binome = #{idBinome} AND id_projet = #{idProjet} AND note_soutenance = #{noteSoutenance} AND note_rapport = #{noteRapport}
    </delete>

    <update id="updateNote">
        UPDATE notes
        <set>
            <if test="noteRapport != null"> note_rapport= #{noteRapport},</if>
            <if test="noteSoutenance != null"> note_soutenance= #{noteSoutenance},</if>
        </set>
        WHERE id_etudiant = #{idEtudiant}
        AND id_binome = #{idBinome}
        AND id_projet = #{idProjet}
    </update>

    <select id="selectNote" resultType="note">
        SELECT n.note_rapport, n.note_soutenance
        FROM notes n
        <where>
            <if test="noteSoutenance != null">
                n.note_soutenance = #{noteSoutenance}
            </if>

            <if test="noteRapport != null">
                AND n.note_rapport = #{noteRapport}
            </if>
        </where>
    </select>

</mapper>